@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Roboto";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd1dc;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
}

.btn {
    background-color: #330066;
    color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    margin: 0 0 2rem 2rem;
}