@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Roboto";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd1dc;
}

.container {
    background-color: #ffffff;
    margin: 6rem 6rem;
    width: 450px;
}

h2 {
    text-align: center;
    padding: 2rem 2rem;
}

p {
    text-align: center;
    padding: 2rem 2rem;
    font-size: 0.9rem;
}

.container form {
    padding: 4rem 4rem 4rem 4rem;
}

.container form input {
    border-radius: 5px;
    padding: 8px;
    margin: 0 0 2rem 2rem;
}

button {
    background-color: #330066;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin: 0 0 6rem 6rem;

}

.sign {
    color: #330066;
    font-size: 0.8rem;
    font-weight: 600;
}